body {
    margin: 0;
    background-color: rgb(0, 10, 0);
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 0 0 5px white, 0 0 10px whitesmoke;
    font-weight: 400;
}
.dot {
    color: rgb(1, 156, 1);
    background-color: rgb(0, 10, 0);
    text-shadow: 0 0 5px rgb(0, 168, 0), 0 0 10px rgb(9, 204, 42);
    font-weight: 200;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px dashed rgb(28, 243, 0);
    letter-spacing: 1rem;
    text-indent: .6rem;
}

button {
    background-color: white;
}

button:hover {
    background-color: lightblue;
}
nav {
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-template-columns: 1fr, 1fr;
    gap: .2em;
    margin-right: 2em;
    margin-left: 2em;
}

#singleOption {
    grid-column: 1/1;
}

#multiOption {
    grid-column: 2/2;
}

#start {
    grid-column: 2;
    grid-row: 2/5;
}

nav > input {
    display: none;
}

main {
    margin-top: 2em;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: appear .5s 1;
}

@keyframes appear {
    from{
        transform: scaleY(0%) scaleX(50%);
        opacity: 0%;
    }
    40% { 
        transform: scaleY(1%) scaleX(100%);
    }
    85% {
        transform: scale(100%);
        opacity: 100%;
    }
    to {
        opacity: 90%;
    }
}

.gameBoard {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.gameBoard > div {
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px dashed rgb(28, 243, 0);
    border-right: 1px dashed rgb(28, 243, 0);
    font: 1.2em sans-serif;
}

.dock {
    padding: .8em;
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: .5em;
    align-items: center;
    justify-content: space-evenly;

    border: dashed rgb(28, 243, 0) 2px;
}

.dock > div {
    display: flex;
    gap: 2em;
}

.boardTitle {
    grid-column-start: 1;
    grid-column-end: -1
}

.target:hover {
    cursor: crosshair;
}

#opponentBoard {
    display: none;
}

.shipContainer {
    grid-column: 1/-1;
    grid-row: 2/9;
    margin: .5em;
}
.shipContainer > .ship {
    margin: .5em;
}

.shipsTitle {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
}
.carrier {
    height: 34px;
    width: 170px;
}
.battleship {
    height: 34px;
    width: 136px;
}
.cruiser {
    height: 34px;
    width: 102px;
}
.sub {
    height: 34px;
    width: 102px;
}
.destroyer {
    height: 34px;
    width: 68px;
}
.shipButtons {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
}
.dragging {
    opacity: .8;
}
#radar {
   position: fixed;
    width: 200vw;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(0, 255, 0, 0), rgb(0, 255, 0, .5));
    border-bottom: solid rgb(0, 255, 0) 10px;
    top: -210px;
    left: -200px;
    transform-origin: bottom left;
    animation: spinning 6s infinite linear;
}
@keyframes spinning{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}