button {
    background-color: white;
}

button:hover {
    background-color: lightblue;
}

.options {
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-template-columns: 1fr, 1fr;
    gap: .2em;
    margin-right: 2em;
    margin-left: 2em;
}

#singleOption {
    grid-column: 1/1;
}

#multiOption {
    grid-column: 2/2;
}

#start {
    grid-column: 2;
    grid-row: 2/5;
}

.boardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.board {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.tile {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    font: 1.8em sans-serif;
    background-image: url("./assets/waterTile.gif");
    background-size: cover;
}

.boardTitle {
    grid-column-start: 1;
    grid-column-end: -1
}

.target:hover {
    cursor: crosshair;
}

#opponentBoard {
    display: none;
}

.shipyard {
    margin-top: 1em;
    width: 360px;
    gap: .5em;
    justify-content: space-evenly;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(8, 35px);
    grid-template-rows: repeat(10, 35px);
    border: dashed black 2px;
}
.shipContainer {
    grid-column: 1/-1;
    grid-row: 2/9;
    margin: .5em;
}
.shipContainer > .ship {
    margin: .5em;
}

.shipsTitle {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
}
.carrier {
    width: 34px;
    height: 170px;
    /* background-image: url("assets/ships/ShipCarrierHull.png");
    background-size: 100% 90%;
    background-repeat: no-repeat; */
}
.battleship {
    width: 34px;
    height: 136px;
    /* background-image: url("assets/ships/ShipBattleshipHull.png");
    background-size: 90% 100%;
    background-repeat: no-repeat; */
}
.destroyer {
    width: 34px;
    height: 102px;
    /* background-image: url("assets/ships/ShipDestroyerHull.png");
    background-size: 80% 100%;
    background-repeat: no-repeat; */
}
.submarine {
    width: 34px;
    height: 102px;
    /* background-image: url("assets/ships/ShipSubMarineHull.png");
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}
.patrolBoat {
    width: 34px;
    height: 68px;
    /* background-image: url("assets/ships/ShipPatrolHull.png");
    background-size: 75% 100%;
    background-repeat: no-repeat; */
}
.shipButtons {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
}
.dragging {
    opacity: .8;
}